registreringsinstrukser/vann/skjema/FKBVann.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:app="http://skjema.geonorge.no/SOSI/registreringsinstruks/FKB-Vann/5.0/Fotogrammetrisk_2022-01-01" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="http://skjema.geonorge.no/SOSI/registreringsinstruks/FKB-Vann/5.0/Fotogrammetrisk_2022-01-01" version="5.0">
  <annotation>
    <documentation>Spesifikasjonen beskriver geografisk beliggenhet, forløp og form for bekker, elver, kanaler, grøfter, innsjøer, isbreer og den topografiske delen av kyst og sjø. 
Kystkonturen er en del av FKB-Vann og fra og med FKB-Vann versjon 4.6 forvaltes Primærdata Kystkontur som en del av FKB-Vann.

FKB-Vann versjon 5.0 baserer seg på de generelle konseptene fra SOSI del 1 versjon 5 og SOSI del 3 Vann, Kyst og Sjø versjon 4.0.</documentation>
  </annotation>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Elv" substitutionGroup="app:Fellesegenskaper" type="app:ElvType">
    <annotation>
      <documentation>River: større vannvei for rennende vann representert ved flate</documentation>
    </annotation>
  </element>
  <complexType name="ElvType">
    <complexContent>
      <extension base="app:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>position: objektets plassering</documentation>
            </annotation>
          </element>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>extent: objektets utstrekning</documentation>
            </annotation>
          </element>
          <element name="vannBredde" type="app:VannBreddeType">
            <annotation>
              <documentation>grov klassifisering av vassdrag etter gjennomsnittelig bredde over lengre strekninger</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VANNBR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="medium" type="gml:CodeType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MEDIUM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="avgrensesAvElvekant" type="app:ElvekantPropertyType">
            <annotation>
              <documentation>konturlinje mellom land og elveflate</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="avgrensesAvVannFiktivGrense" type="app:VannFiktivGrensePropertyType">
            <annotation>
              <documentation>delelinjer mellom tilstøtende vannflater</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ElvPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Elv"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ElvBekk" substitutionGroup="app:KvalitetPåkrevd" type="app:ElvBekkType">
    <annotation>
      <documentation>RiverBrook: mindre vannvei for rennende vann representert ved senterlinje</documentation>
    </annotation>
  </element>
  <complexType name="ElvBekkType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>centerline: forløp som følger objektets sentrale del</documentation>
            </annotation>
          </element>
          <element name="vannBredde" type="app:VannBreddeType">
            <annotation>
              <documentation>water width: grov klassifikasjon av vassdrag etter gjennomsnittelig bredde over lengre strekninger</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VANNBR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="medium" type="gml:CodeType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MEDIUM</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ElvBekkPropertyType">
    <sequence minOccurs="0">
      <element ref="app:ElvBekk"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Elvekant" substitutionGroup="app:KvalitetPåkrevd" type="app:ElvekantType">
    <annotation>
      <documentation>RiverEdge: konturlinje mellom land og elveflate</documentation>
    </annotation>
  </element>
  <complexType name="ElvekantType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>border: forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element name="medium" type="gml:CodeType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MEDIUM</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ElvekantPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Elvekant"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="Fellesegenskaper" substitutionGroup="gml:AbstractFeature" type="app:FellesegenskaperType">
    <annotation>
      <documentation>abstrakt objekttype som bærer sentrale egenskaper som er anbefalt for bruk i produktspesifikasjoner.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="FellesegenskaperType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="identifikasjon" type="app:IdentifikasjonPropertyType">
            <annotation>
              <documentation>unik identifikasjon av et objekt 

Merknad FKB:
Unik identifikasjon av et objekt, ivaretas av den ansvarlige produsent/forvalter, og som kan benyttes av eksterne applikasjoner som referanse til objektet.
Den unike identifikatoren er unik for kartobjektet og skal ikke endres i kartobjektets levetid. Dette må ikke forveksles med en tematisk identifikator (for eksempel bygningsnummer) som unikt identifiserer et objekt i virkeligheten. En bygning med samme bygningsnummer vil kunne representeres i mange kartprodukter der det finnes en unik identifikasjon i hver av dem.
For FKB benyttes UUID (Universally unique identifier) som lokalId. Dette innebærer at lokalId alene alltid vil være unik. Likevel skal alltid navnerom også angis. Navnerom angir FKB-datasettet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">IDENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="oppdateringsdato" type="dateTime">
            <annotation>
              <documentation>tidspunkt for siste endring på objektet 

Merknad FKB: 
Denne datoen viser datasystemets siste endring på dataobjektet. Egenskapen settes av forvaltningssystemet etter følgende regler:
i. Oppdateringsdato er tidspunkt for oppdatering av databasen og settes av forvaltningsbasen (ikke
av klienten).
ii. Oppdateringsdato skal endres også hvis det er kopidata som blir endret eller importert i en
”kopibase”.
iii. Når avgrensingslinjene til en flate endres, skal flateobjektet få ny oppdateringsdato.
iv. Oppdateringsdato skal endres hvis en egenskap endres.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">OPPDATERINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="datafangstdato" type="date">
            <annotation>
              <documentation>dato når objektet siste gang ble registrert/observert/målt i terrenget</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">DATAFANGSTDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="verifiseringsdato" type="date">
            <annotation>
              <documentation>dato når dataene er fastslått å være i samsvar med virkeligheten.

Merknad FKB:
Brukes for eksempel i de sammenhenger hvor det er foretatt fotogrammetrisk ajourhold, og hvor det ikke er registrert endringer på objektet (det virkelige objektet er i samsvar med dataobjektet)</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VERIFISERINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="registreringsversjon" type="gml:CodeType">
            <annotation>
              <documentation>angivelse av hvilken produktspesifikasjon som er utgangspunkt  for dataene</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">REGISTRERINGSVERSJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="informasjon" type="string">
            <annotation>
              <documentation>generell opplysning.

Merknad FKB:
Mulighet til å legge inn utfyllende informasjon om objektet. Egenskapen bør bare brukes til å legge inn ekstra informasjon om enkeltobjekter. Egenskapen bør ikke brukes til å systematisk angi ekstrainformasjon om mange/alle objekter i et datasett.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">INFORMASJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sluttdato">
            <annotation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">SLUTTDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FellesegenskaperPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Fellesegenskaper"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Flomløpkant" substitutionGroup="app:KvalitetPåkrevd" type="app:FlomløpkantType">
    <annotation>
      <documentation>FloodCourseEdge: begrensningslinje for store markerte elveløp hvor det pga regulering eller andre årsaker bare en sjelden gang er vannføring</documentation>
    </annotation>
  </element>
  <complexType name="FlomløpkantType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>border: forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FlomløpkantPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Flomløpkant"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Havflate" substitutionGroup="app:Fellesegenskaper" type="app:HavflateType">
    <annotation>
      <documentation>SeaSurface: havområde som avgrenses av Kystkontur, VannFiktivGrense og KystkonturTekniskAnlegg</documentation>
    </annotation>
  </element>
  <complexType name="HavflateType">
    <complexContent>
      <extension base="app:FellesegenskaperType">
        <sequence>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>extent: objektets utstrekning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>position: objektets plassering</documentation>
            </annotation>
          </element>
          <element name="medium" type="gml:CodeType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MEDIUM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="avgrensesAvKystkonturTekniskeAnlegg" type="app:KystkonturTekniskeAnleggPropertyType">
            <annotation>
              <documentation>grense mellom land og sjø som følger tekniske anlegg</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="avgrensesAvKystkontur" type="app:KystkonturPropertyType">
            <annotation>
              <documentation>grense mellom land og sjø i henhold til angitt kystreferanse, normalt middel høyvannstand</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="avgrensesAvVannFiktivGrense" type="app:VannFiktivGrensePropertyType">
            <annotation>
              <documentation>delelinjer mellom tilstøtende vannflater</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HavflatePropertyType">
    <sequence minOccurs="0">
      <element ref="app:Havflate"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Identifikasjon" substitutionGroup="gml:AbstractObject" type="app:IdentifikasjonType">
    <annotation>
      <documentation>Identification: Unik identifikasjon av et objekt i et datasett, forvaltet av den ansvarlige produsent/forvalter, og kan benyttes av eksterne applikasjoner som stabil referanse til objektet. 

Merknad 1: Denne objektidentifikasjonen må ikke forveksles med en tematisk objektidentifikasjon, slik som f.eks bygningsnummer. 

Merknad 2: Denne unike identifikatoren vil ikke endres i løpet av objektets levetid, og ikke gjenbrukes i andre objekt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">IDENT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="IdentifikasjonType">
    <sequence>
      <element name="lokalId" type="string">
        <annotation>
          <documentation>localId: lokal identifikator av et objekt

Merknad: Det er dataleverendørens ansvar å sørge for at den lokale identifikatoren er unik innenfor navnerommet. For FKB-data benyttes UUID som lokalId.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LOKALID</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element name="navnerom" type="string">
        <annotation>
          <documentation>namespace: navnerom som unikt identifiserer datakilden til et objekt, anbefales å være en http-URI

Eksempel: http://data.geonorge.no/SentraltStedsnavnsregister/1.0

Merknad : Verdien for nanverom vil eies av den dataprodusent som har ansvar for de unike identifikatorene og må være registrert i data.geonorge.no eller data.norge.no</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NAVNEROM</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="versjonId" type="string">
        <annotation>
          <documentation>versionId: identifikasjon av en spesiell versjon av et geografisk objekt (instans)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VERSJONID</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="IdentifikasjonPropertyType">
    <sequence>
      <element ref="app:Identifikasjon"/>
    </sequence>
  </complexType>
  <element name="Innsjø" substitutionGroup="app:Fellesegenskaper" type="app:InnsjøType">
    <annotation>
      <documentation>Lake: en ferskvannsflate som ikke er rennende vann</documentation>
    </annotation>
  </element>
  <complexType name="InnsjøType">
    <complexContent>
      <extension base="app:FellesegenskaperType">
        <sequence>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>extent: objektets utstrekning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>position: objektets posisjon</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde" type="double">
            <annotation>
              <documentation>elevation: objektets vertikale avstand over en fysisk eller matematisk definert referanseflate.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">HØYDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="medium" type="gml:CodeType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MEDIUM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="regulert" type="boolean">
            <annotation>
              <documentation>angir om innsjø er oppdemt/regulert</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">REGULERT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eksternpeker" type="anyURI">
            <annotation>
              <documentation>externReference: peker til eksternt system som inneholder mer informasjon om objekttypen</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">EKSTERNPEKER</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="avgrensesAvVannFiktivGrense" type="app:VannFiktivGrensePropertyType">
            <annotation>
              <documentation>delelinjer mellom tilstøtende vannflater</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="avgrensesAvInnsjøkant" type="app:InnsjøkantPropertyType">
            <annotation>
              <documentation>avgrensning mellom land og innsjø</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="InnsjøPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Innsjø"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Innsjøkant" substitutionGroup="app:KvalitetPåkrevd" type="app:InnsjøkantType">
    <annotation>
      <documentation>LakeEdge: konturlinje mellom land og innsjø

Merknad:
for innsjø som er oppdemt/regulert skal konturlinjen ligge i høydenivået for høyeste regulerte vannstand</documentation>
    </annotation>
  </element>
  <complexType name="InnsjøkantType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>border: forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element name="medium" type="gml:CodeType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MEDIUM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde" type="double">
            <annotation>
              <documentation>kurvas vertikale avstand over en fysisk eller matematisk definert referanseflate.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">HØYDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="InnsjøkantPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Innsjøkant"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Kanal" substitutionGroup="app:Fellesegenskaper" type="app:KanalType">
    <annotation>
      <documentation>Canal: større menneskeskapt vannvei for rennende vann representert ved flate</documentation>
    </annotation>
  </element>
  <complexType name="KanalType">
    <complexContent>
      <extension base="app:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>position: objektets plassering</documentation>
            </annotation>
          </element>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>extent: objektets utstrekning</documentation>
            </annotation>
          </element>
          <element name="medium" type="gml:CodeType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MEDIUM</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="vannBredde" type="app:VannBreddeType">
            <annotation>
              <documentation>water width: grov klassifisering av vassdrag etter gjennomsnittelig bredde over lengre strekninger</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VANNBR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="avgrensesAvKanalkant" type="app:KanalkantPropertyType">
            <annotation>
              <documentation>avgrensningslinje av kanal, dvs. der stor vannføring normalt går</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="avgrensesAvVannFiktivGrense" type="app:VannFiktivGrensePropertyType">
            <annotation>
              <documentation>delelinjer mellom tilstøtende vannflater</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KanalPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Kanal"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="KanalGrøft" substitutionGroup="app:KvalitetPåkrevd" type="app:KanalGrøftType">
    <annotation>
      <documentation>Ditch: mindre menneskeskapt vannvei for rennende vann representert ved senterlinje</documentation>
    </annotation>
  </element>
  <complexType name="KanalGrøftType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>centerline: forløp som følger objektets sentrale del</documentation>
            </annotation>
          </element>
          <element name="vannBredde" type="app:VannBreddeType">
            <annotation>
              <documentation>water width: grov klassifikasjon av vassdrag etter gjennomsnittelig bredde over lengre strekninger</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VANNBR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="medium" type="gml:CodeType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MEDIUM</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KanalGrøftPropertyType">
    <sequence minOccurs="0">
      <element ref="app:KanalGrøft"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Kanalkant" substitutionGroup="app:KvalitetPåkrevd" type="app:KanalkantType">
    <annotation>
      <documentation>CanalEdge: konturlinje mellom land og kanalflate</documentation>
    </annotation>
  </element>
  <complexType name="KanalkantType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:PointPropertyType">
            <annotation>
              <documentation>border: forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element name="medium" type="gml:CodeType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MEDIUM</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KanalkantPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Kanalkant"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="KonnekteringVann" substitutionGroup="app:KvalitetOpsjonell" type="app:KonnekteringVannType">
    <annotation>
      <documentation>WaterLineConnection: kunstig objekt hvor senterlinjen representerer en fiktiv linje som skjøter sammen lenker der det er hull i beskrivelsen av vannforløp</documentation>
    </annotation>
  </element>
  <complexType name="KonnekteringVannType">
    <complexContent>
      <extension base="app:KvalitetOpsjonellType">
        <sequence>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>centerline: fiktiv linje som skjøter sammen lenker der det er hull i beskrivelsen av vannforløp</documentation>
            </annotation>
          </element>
          <element name="medium" type="gml:CodeType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MEDIUM</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KonnekteringVannPropertyType">
    <sequence minOccurs="0">
      <element ref="app:KonnekteringVann"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="KvalitetOpsjonell" substitutionGroup="app:Fellesegenskaper" type="app:KvalitetOpsjonellType">
    <annotation>
      <documentation>abstrakt objekttype med valgfri kvalitetsangivelse</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="KvalitetOpsjonellType">
    <complexContent>
      <extension base="app:FellesegenskaperType">
        <sequence>
          <element minOccurs="0" name="kvalitet" type="app:PosisjonskvalitetPropertyType">
            <annotation>
              <documentation>beskrivelse av kvaliteten på stedfestingen

Merknad: Denne er identisk med ..KVALITET i tidligere versjoner av SOSI.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KVALITET</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KvalitetOpsjonellPropertyType">
    <sequence minOccurs="0">
      <element ref="app:KvalitetOpsjonell"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="KvalitetPåkrevd" substitutionGroup="app:Fellesegenskaper" type="app:KvalitetPåkrevdType">
    <annotation>
      <documentation>abstrakt objekttype med påkrevet kvalitetsangivelse</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="KvalitetPåkrevdType">
    <complexContent>
      <extension base="app:FellesegenskaperType">
        <sequence>
          <element name="kvalitet" type="app:PosisjonskvalitetPropertyType">
            <annotation>
              <documentation>beskrivelse av kvaliteten på stedfestingen

Merknad: Denne er identisk med ..KVALITET i tidligere versjoner av SOSI.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KVALITET</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KvalitetPåkrevdPropertyType">
    <sequence minOccurs="0">
      <element ref="app:KvalitetPåkrevd"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="KystkonstruksjonstypeType">
    <annotation>
      <documentation>angivelse av kystkonturens konstruksjon</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KYSTKONSTRUKSJONSTYPE</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="app:KystkonstruksjonstypeEnumerationType app:KystkonstruksjonstypeOtherType"/>
  </simpleType>
  <simpleType name="KystkonstruksjonstypeEnumerationType">
    <annotation>
      <documentation>angivelse av kystkonturens konstruksjon</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KYSTKONSTRUKSJONSTYPE</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string"/>
  </simpleType>
  <simpleType name="KystkonstruksjonstypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Kystkontur" substitutionGroup="app:KvalitetPåkrevd" type="app:KystkonturType">
    <annotation>
      <documentation>Coastline: grense mellom land og sjø, definert som midlere høyvannslinje.</documentation>
    </annotation>
  </element>
  <complexType name="KystkonturType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>border: forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="kystreferanse" type="app:KystreferanseType">
            <annotation>
              <documentation>coastalReferenceLevel: kystkonturens referansenivå</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KYSTREF</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde" type="double">
            <annotation>
              <documentation>elevation: et punkts vertikale avstand over en fysisk eller matematisk definert referanseflate</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">HØYDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="medium" type="gml:CodeType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MEDIUM</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KystkonturPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Kystkontur"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="KystkonturTekniskeAnlegg" substitutionGroup="app:KvalitetPåkrevd" type="app:KystkonturTekniskeAnleggType">
    <annotation>
      <documentation>ShorelineConstruction: angivelse av kystkontur der denne består av tekniske anlegg, definert som  midlere høyvann</documentation>
    </annotation>
  </element>
  <complexType name="KystkonturTekniskeAnleggType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>border: forløp som følger overgang mellom ulike fenomener</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">Kurve</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="kystkonstruksjonstype" type="app:KystkonstruksjonstypeType">
            <annotation>
              <documentation>categoryOfShorelineConstruction: angivelse av kystkonturens konstruksjon</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KYSTKONSTRUKSJONSTYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kystreferanse" type="app:KystreferanseType">
            <annotation>
              <documentation>coastalReferenceLevel: kystkonturens referansenivå</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KYSTREF</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde" type="double">
            <annotation>
              <documentation>et punkts vertikale avstand over en fysisk eller matematisk definert referanseflate</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">HØYDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="medium" type="gml:CodeType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MEDIUM</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KystkonturTekniskeAnleggPropertyType">
    <sequence minOccurs="0">
      <element ref="app:KystkonturTekniskeAnlegg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="KystreferanseType">
    <annotation>
      <documentation>kystkonturens referansenivå</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KYSTREF</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="app:KystreferanseEnumerationType app:KystreferanseOtherType"/>
  </simpleType>
  <simpleType name="KystreferanseEnumerationType">
    <annotation>
      <documentation>kystkonturens referansenivå</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KYSTREF</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string"/>
  </simpleType>
  <simpleType name="KystreferanseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Posisjonskvalitet" substitutionGroup="gml:AbstractObject" type="app:PosisjonskvalitetType">
    <annotation>
      <documentation>beskrivelse av kvaliteten på stedfestingen.

Merknad:
Posisjonskvalitet er ikke konform med  kvalitetsmodellen i ISO slik den er defineret i ISO19157:2013, men er en videreføring av tildligere brukte kvalitetsegenskaper i SOSI. FKB 5.0 innfører en egen variant av datatypen Posisjonskvalitet der kodeliste målemetode er byttet ut med den mer generelle kodelista Datafangstmetode.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KVALITET</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="PosisjonskvalitetType">
    <sequence>
      <element name="datafangstmetode" type="gml:CodeType">
        <annotation>
          <documentation>metode for datafangst. 
Egenskapen beskriver datafangstmetode for grunnrisskoordinater (x,y), eller for både grunnriss og høyde (x,y,z) dersom det ikke er oppgitt noen verdi for datafangstmetodeHøyde.</documentation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://register.geonorge.no/sosi-kodelister/fkb/generell/5.0/datafangstmetode</defaultCodeSpace>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">DATAFANGSTMETODE</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="nøyaktighet" type="integer">
        <annotation>
          <documentation>standardavviket til posisjoneringa av objektet oppgitt i cm.

I de aller fleste sammenhenger benyttes en anslått eller forventet verdi for standardavvik, men dersom man har en beregnet verdi skal denne benyttes. 

For objekter med punktgeometri benyttes verdi for punktstandardavvik. For objekter med kurvegeometri benyttes standardavviket for tverravviket fra kurva. For objekter med overflate- eller volumgeometri er forståelsen at standardavviket beregnes ut fra (3D) avvikene mellom sann posisjon og nærmeste punkt på overflata. 

Merknad:

Verdien er ment å beskrive nøyaktigheten til objektet sammenlignet med sann verdi. Standardavvik er i utgangspunktet et mål på det tilfeldige avviket og det innebærer at vi forutsetter at det systematiske avviket i liten grad påvirker nøyaktigheten til posisjoneringa. For fotogrammetriske data settes som hovedregel verdien lik kravet til standardavvik ved datafangst. Se standarden Geodatakvalitet for nærmere definisjon av standardavvik og hvordan dette defineres, beregnes og kontrolleres.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NØYAKTIGHET</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="synbarhet" type="gml:CodeType">
        <annotation>
          <documentation>beskrivelse av hvor godt objektene framgår i datagrunnlaget for posisjonering (f.eks. flybildene).</documentation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://register.geonorge.no/sosi-kodelister/fkb/generell/5.0/synbarhet</defaultCodeSpace>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">SYNBARHET</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="datafangstmetodeHøyde" type="gml:CodeType">
        <annotation>
          <documentation>metoden brukt for høyderegistrering av posisjon.

Det er bare nødvending å angi en verdi for egenskapen dersom datafangstmetode for høyde avviker fra datafangstmetode for grunnriss.</documentation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://register.geonorge.no/sosi-kodelister/fkb/generell/5.0/datafangstmetode</defaultCodeSpace>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">DATAFANGSTMETODEHØYDE</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="nøyaktighetHøyde" type="integer">
        <annotation>
          <documentation>standardavviket til posisjoneringa av objektet oppgitt i cm.

I de aller fleste sammenhenger benyttes en anslått eller forventet verdi for standardavvik, men dersom man har en beregnet verdi skal denne benyttes. 

For objekter med punktgeometri benyttes verdi for punktstandardavvik. For objekter med kurvegeometri benyttes standardavviket for tverravviket fra kurva. For objekter med overflate- eller volumgeometri er forståelsen at standardavviket beregnes ut fra (3D) avvikene mellom sann posisjon og nærmeste punkt på overflata. 

Merknad:

Verdien er ment å beskrive nøyaktigheten til objektet sammenlignet med sann verdi. Standardavvik er i utgangspunktet et mål på det tilfeldige avviket og det innebærer at vi forutsetter at det systematiske avviket i liten grad påvirker nøyaktigheten til posisjoneringa. For fotogrammetriske data settes som hovedregel verdien lik kravet til standardavvik ved datafangst. Se standarden Geodatakvalitet for nærmere definisjon av standardavvik og hvordan dette defineres, beregnes og kontrolleres.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">H-NØYAKTIGHET</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="PosisjonskvalitetPropertyType">
    <sequence>
      <element ref="app:Posisjonskvalitet"/>
    </sequence>
  </complexType>
  <element name="Skjær" substitutionGroup="app:KvalitetPåkrevd" type="app:SkjærType">
    <annotation>
      <documentation>Rock: generalisert punktobjekt for små øyer eller landareal</documentation>
    </annotation>
  </element>
  <complexType name="SkjærType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>position: sted som objektet eksisterer på</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="høyde" type="double">
            <annotation>
              <documentation>elevation: et punkts vertikale avstand over en fysisk eller matematisk definert referanseflate</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">HØYDE</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkjærPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Skjær"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SnøIsbre" substitutionGroup="app:Fellesegenskaper" type="app:SnøIsbreType">
    <annotation>
      <documentation>SnowField: flate som er dekket med "evigvarende" snø eller isbre</documentation>
    </annotation>
  </element>
  <complexType name="SnøIsbreType">
    <complexContent>
      <extension base="app:FellesegenskaperType">
        <sequence>
          <element name="område" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>extent: objektets utstrekning</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>position: objektets plassering</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="avgrensesAvSnøIsbreKant" type="app:SnøIsbreKantPropertyType">
            <annotation>
              <documentation>avgrensning</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SnøIsbrePropertyType">
    <sequence minOccurs="0">
      <element ref="app:SnøIsbre"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SnøIsbreKant" substitutionGroup="app:KvalitetPåkrevd" type="app:SnøIsbreKantType">
    <annotation>
      <documentation>SnowFieldEdge: grense mellom snø eller isbre og barmark der det er usikkert om det er isbre eller snø</documentation>
    </annotation>
  </element>
  <complexType name="SnøIsbreKantType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>border: forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SnøIsbreKantPropertyType">
    <sequence minOccurs="0">
      <element ref="app:SnøIsbreKant"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VannBreddeType">
    <annotation>
      <documentation>grov klassifikasjon av vassdrag etter gjennomsnittelig bredde over lengre strekninger</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VANNBR</taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="app:VannBreddeEnumerationType app:VannBreddeOtherType"/>
  </simpleType>
  <simpleType name="VannBreddeEnumerationType">
    <annotation>
      <documentation>grov klassifikasjon av vassdrag etter gjennomsnittelig bredde over lengre strekninger</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VANNBR</taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string"/>
  </simpleType>
  <simpleType name="VannBreddeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="VannFiktivGrense" substitutionGroup="app:KvalitetOpsjonell" type="app:VannFiktivGrenseType">
    <annotation>
      <documentation>fiktiv delelinje for vannflater, delelinjetype spesifiseres på egenskapsnivå</documentation>
    </annotation>
  </element>
  <complexType name="VannFiktivGrenseType">
    <complexContent>
      <extension base="app:KvalitetOpsjonellType">
        <sequence>
          <element name="vannSperretype" type="gml:CodeType">
            <annotation>
              <documentation>hjelpelinjetyper for å avgrense eller dele opp  vannflater</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VANN_SPERRETYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>border: avgrensning for fiktive hjelpelinjer</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VannFiktivGrensePropertyType">
    <sequence minOccurs="0">
      <element ref="app:VannFiktivGrense"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VeggrøftÅpen" substitutionGroup="app:KvalitetPåkrevd" type="app:VeggrøftÅpenType">
    <annotation>
      <documentation>RoadDitch: åpen drenering parallelt med veg</documentation>
    </annotation>
  </element>
  <complexType name="VeggrøftÅpenType">
    <complexContent>
      <extension base="app:KvalitetPåkrevdType">
        <sequence>
          <element name="senterlinje" type="gml:CurvePropertyType">
            <annotation>
              <documentation>forløp som følger objektets sentrale del</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VeggrøftÅpenPropertyType">
    <sequence minOccurs="0">
      <element ref="app:VeggrøftÅpen"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
