produktspesifikasjoner/tiltak/FKB-Tiltak50.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:app="http://skjema.geonorge.no/SOSI/produktspesifikasjon/FKB-Tiltak/5.0/" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="http://skjema.geonorge.no/SOSI/produktspesifikasjon/FKB-Tiltak/5.0/" version="5.0">
  <annotation>
    <documentation>Datamodell for produktspesifikasjon FKB-Tiltakt. FKB-Tiltak inneholder objekter (=områder der det skjer utbygging) som er omsøkt/godkjent gjennom saksbehandling i kommunen eller andre offentlige myndigheter.</documentation>
  </annotation>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="AndreTiltak" substitutionGroup="app:TiltakGenerell" type="app:AndreTiltakType">
    <annotation>
      <documentation>PbaApplication: andre typer tiltak enn tiltak for bygninger og samferdselsutbygging.

Tiltaksansvarlig har ansvar for å oppdatere tiltaksbasen med informasjon om saksbehandling og framdrift samt å oppdatere grunnkartet med nye data når utbyggingen er ferdigstilt.</documentation>
    </annotation>
  </element>
  <complexType name="AndreTiltakType">
    <complexContent>
      <extension base="app:TiltakGenerellType">
        <sequence>
          <element name="tiltaksansvarlig" type="gml:CodeType">
            <annotation>
              <documentation>hvilket forvaltningsnivå/etat som er ansvarlig for oppfølging av tiltaket</documentation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://register.geonorge.no/sosi-kodelister/fkb/tiltak/5.0/tiltaksansvarlig</defaultCodeSpace>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">TILTAKSANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="andretiltak" type="gml:CodeType">
            <annotation>
              <documentation>andre type tiltak enn de som omfattes av plan- og bygningsloven</documentation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://register.geonorge.no/sosi-kodelister/fkb/tiltak/5.0/tiltakstypeandre</defaultCodeSpace>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">TILTAKTYPEANDRE</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AndreTiltakPropertyType">
    <sequence minOccurs="0">
      <element ref="app:AndreTiltak"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="BygningKnekklinje" substitutionGroup="app:Fellesegenskaper" type="app:BygningKnekklinjeType">
    <annotation>
      <documentation>PbaApplicationBoundary: Geometri som beskriver takformen til bygningen i 2.5D. Som minimum bør toppen av byggets avgrensninger registreres og gjerne også knekklinjer som beskriver takformen inne på taket (mønelinjer, taksprang osv.)</documentation>
    </annotation>
  </element>
  <complexType name="BygningKnekklinjeType">
    <complexContent>
      <extension base="app:FellesegenskaperType">
        <sequence>
          <element name="grense" type="gml:CurvePropertyType">
            <annotation>
              <documentation>border: forløp som følger overgang mellom ulike fenomener</documentation>
            </annotation>
          </element>
          <element name="kartregistrering" type="gml:CodeType">
            <annotation>
              <documentation>status for kartregistrering av avgjorte tiltak</documentation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://register.geonorge.no/sosi-kodelister/fkb/tiltak/5.0/kartregistrering</defaultCodeSpace>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KARTREG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="knekklinjetype" type="gml:CodeType">
            <annotation>
              <documentation>Type knekklinje som beskriver takformen i 2.5D</documentation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://register.geonorge.no/sosi-kodelister/fkb/tiltak/5.0/knekklinjetype</defaultCodeSpace>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KNEKKLINJETYPE</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BygningKnekklinjePropertyType">
    <sequence minOccurs="0">
      <element ref="app:BygningKnekklinje"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="BygningTiltak" substitutionGroup="app:TiltakGenerell" type="app:BygningTiltakType">
    <annotation>
      <documentation>PbaApplication: Tiltak som gjelder Bygning etter plan- og bygningsloven. Kommunene er ansvarlige for saksbehandling etter Pbl og føring av BygningTiltak i tiltaksbasen.

Bygningsnummer (og ev. bygningsendringsnummer) fra Matrikkelen registreres på tiltaket så fort bygningen er etablert i Matrikkelen. 

Område-geometrien til tiltaket angir området i grunnriss som bygningen skal bygges innenfor. Dette vil normalt samsvare med byggets planlagte yttervegger. 

Dersom man ønsker å gi informasjon om bygningens planlagte høyde kan dette gjøres ved å:

1. Angi høydeverdier på områdegeometrien og sette høydereferanse topp. Geometrien må inneholde mønehøyde (høyeste nivå på bygget). 

2. Angi en verdi for maks høyde over gjennomsnittlig terrenghøyde 

3. Registrere objekter av typen BygningKnekklinje som beskriver planlagt form på bygget i 2.5D i mer detalj.</documentation>
    </annotation>
  </element>
  <complexType name="BygningTiltakType">
    <complexContent>
      <extension base="app:TiltakGenerellType">
        <sequence>
          <element minOccurs="0" name="bygningsnummer" type="integer">
            <annotation>
              <documentation>nummerering av bygninger fra Matrikkelen. Nummeret er unikt og landsdekkende.
Merknad: For tiltak som omhandler bygninger (tiltakstype nybygg, tilbygg, påbygg, underbygg og ombygging) skal bygningsnummer overføres til tiltaket så fort bygningsnummeret er etablert i Matrikkelen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">BYGGNR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bygningsendringløpenummer" type="integer">
            <annotation>
              <documentation>løpende nummerering av tilbygg til et hovedbygg.
Merknad:
For tiltak som omhandler bygningsendringer (tiltakstype tilbygg, påbygg, underbygg og ombygging) skal bygningsendringløpenummer overføres til tiltaket så fort løpenummeret er etablert i Matrikkelen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">BYGN_ENDR_LØPENR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="høydeoverbakken" type="double">
            <annotation>
              <documentation>Største høyde på tiltaket over gjennomsnittlig terrenghøyde angitt i meter</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">HOB</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="høydereferanse" type="gml:CodeType">
            <annotation>
              <documentation>koordinatregistering utført på topp eller bunn av et objekt</documentation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://register.geonorge.no/sosi-kodelister/fkb/generell/5.0/hoydereferanse</defaultCodeSpace>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">HREF</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="beskriverTakform" type="app:BygningKnekklinjePropertyType">
            <annotation>
              <documentation>knekklinjer som beskriver takformen til bygningstiltaket</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BygningTiltakPropertyType">
    <sequence minOccurs="0">
      <element ref="app:BygningTiltak"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="Fellesegenskaper" substitutionGroup="gml:AbstractFeature" type="app:FellesegenskaperType">
    <annotation>
      <documentation>abstrakt objekttype som bærer sentrale egenskaper som er anbefalt for bruk i produktspesifikasjoner.

Merknad: Disse egenskapene skal derfor ikke modelleres inn i fagområdemodeller.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="FellesegenskaperType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identifikasjon" type="app:IdentifikasjonPropertyType">
            <annotation>
              <documentation>unik identifikasjon av et objekt 

Merknad FKB:
Unik identifikasjon av et objekt, ivaretas av den ansvarlige produsent/forvalter, og som kan benyttes av eksterne applikasjoner som referanse til objektet.

Den unike identifikatoren er unik for kartobjektet og skal ikke endres i kartobjektets levetid. Dette må ikke forveksles med en tematisk identifikator (for eksempel bygningsnummer) som unikt identifiserer et objekt i virkeligheten. En bygning med samme bygningsnummer vil kunne representeres i mange kartprodukter der det finnes en unik identifikasjon i hver av dem.

For FKB benyttes UUID (Universally unique identifier) som lokalId. Dette innebærer at lokalId alene alltid vil være unik. Likevel skal alltid navnerom også angis. Navnerom angir FKB-datasettet.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">IDENT</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="oppdateringsdato" type="dateTime">
            <annotation>
              <documentation>tidspunkt for siste endring på objektet 

Merknad FKB: 

Denne datoen viser datasystemets siste endring på dataobjektet. Egenskapen settes av forvaltningssystemet etter følgende regler:

i. Oppdateringsdato er tidspunkt for oppdatering av databasen og settes av forvaltningsbasen (ikke av klienten).

ii. Oppdateringsdato skal endres også hvis det er kopidata som blir endret eller importert i en ”kopibase”.

iii. Når avgrensingslinjene til en flate endres, skal flateobjektet få ny oppdateringsdato.

iv. Oppdateringsdato skal endres hvis en egenskap endres.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">OPPDATERINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="datafangstdato" type="date">
            <annotation>
              <documentation>dato når objektet siste gang ble registrert/observert/målt i terrenget</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">DATAFANGSTDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitet" type="app:PosisjonskvalitetPropertyType">
            <annotation>
              <documentation>beskrivelse av kvaliteten på stedfestingen.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KVALITET</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="informasjon" type="string">
            <annotation>
              <documentation>generell opplysning.

Merknad FKB:
Mulighet til å legge inn utfyllende informasjon om objektet. Egenskapen bør bare brukes til å legge inn ekstra informasjon om enkeltobjekter. Egenskapen bør ikke brukes til å systematisk angi ekstrainformasjon om mange/alle objekter i et datasett.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">INFORMASJON</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="medium" type="gml:CodeType">
            <annotation>
              <documentation>objektets beliggenhet i forhold til jordoverflaten</documentation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://register.geonorge.no/sosi-kodelister/fkb/generell/5.0/medium</defaultCodeSpace>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">MEDIUM</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FellesegenskaperPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Fellesegenskaper"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Identifikasjon" substitutionGroup="gml:AbstractObject" type="app:IdentifikasjonType">
    <annotation>
      <documentation>Identification: Unik identifikasjon av et objekt i et datasett, forvaltet av den ansvarlige produsent/forvalter, og kan benyttes av eksterne applikasjoner som stabil referanse til objektet. 

Merknad 1: Denne objektidentifikasjonen må ikke forveksles med en tematisk objektidentifikasjon, slik som f.eks bygningsnummer. 

Merknad 2: Denne unike identifikatoren vil ikke endres i løpet av objektets levetid, og ikke gjenbrukes i andre objekt.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">IDENT</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="IdentifikasjonType">
    <sequence>
      <element name="lokalId" type="string">
        <annotation>
          <documentation>localId: lokal identifikator av et objekt

Merknad: Det er dataleverendørens ansvar å sørge for at den lokale identifikatoren er unik innenfor navnerommet. For FKB-data benyttes UUID som lokalId.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">LOKALID</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element name="navnerom" type="string">
        <annotation>
          <documentation>namespace: navnerom som unikt identifiserer datakilden til et objekt, anbefales å være en http-URI

Eksempel: http://data.geonorge.no/SentraltStedsnavnsregister/1.0

Merknad : Verdien for nanverom vil eies av den dataprodusent som har ansvar for de unike identifikatorene og må være registrert i data.geonorge.no eller data.norge.no</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NAVNEROM</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="versjonId" type="string">
        <annotation>
          <documentation>versionId: identifikasjon av en spesiell versjon av et geografisk objekt (instans)</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">VERSJONID</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="IdentifikasjonPropertyType">
    <sequence>
      <element ref="app:Identifikasjon"/>
    </sequence>
  </complexType>
  <element name="Posisjonskvalitet" substitutionGroup="gml:AbstractObject" type="app:PosisjonskvalitetType">
    <annotation>
      <documentation>beskrivelse av kvaliteten på stedfestingen.

Merknad:
Posisjonskvalitet er ikke konform med  kvalitetsmodellen i ISO slik den er defineret i ISO19157:2013, men er en videreføring av tildligere brukte kvalitetsegenskaper i SOSI. FKB 5.0 innfører en egen variant av datatypen Posisjonskvalitet der kodeliste målemetode er byttet ut med den mer generelle kodelista Datafangstmetode.</documentation>
      <appinfo>
        <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KVALITET</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="PosisjonskvalitetType">
    <sequence>
      <element name="datafangstmetode" type="gml:CodeType">
        <annotation>
          <documentation>metode for datafangst. 
Egenskapen beskriver datafangstmetode for grunnrisskoordinater (x,y), eller for både grunnriss og høyde (x,y,z) dersom det ikke er oppgitt noen verdi for datafangstmetodeHøyde.</documentation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://register.geonorge.no/sosi-kodelister/fkb/generell/5.0/datafangstmetode</defaultCodeSpace>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">DATAFANGSTMETODE</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="nøyaktighet" type="integer">
        <annotation>
          <documentation>standardavviket til posisjoneringa av objektet oppgitt i cm

I de aller fleste sammenhenger benyttes en anslått eller forventet verdi for standardavvik, men dersom man har en beregnet verdi skal denne benyttes. 

For objekter med punktgeometri benyttes verdi for punktstandardavvik. For objekter med kurvegeometri benyttes standardavviket for tverravviket fra kurva. For objekter med overflate- eller volumgeometri er forståelsen at standardavviket beregnes ut fra (3D) avvikene mellom sann posisjon og nærmeste punkt på overflata. 

Merknad:

Verdien er ment å beskrive nøyaktigheten til objektet sammenlignet med sann verdi. Standardavvik er i utgangspunktet et mål på det tilfeldige avviket og det innebærer at vi forutsetter at det systematiske avviket i liten grad påvirker nøyaktigheten til posisjoneringa. For fotogrammetriske data settes som hovedregel verdien lik kravet til standardavvik ved datafangst. Se standarden Geodatakvalitet for nærmere definisjon av standardavvik og hvordan dette defineres, beregnes og kontrolleres.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">NØYAKTIGHET</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="synbarhet" type="gml:CodeType">
        <annotation>
          <documentation>beskrivelse av hvor godt objektene framgår i datagrunnlaget for posisjonering (f.eks. flybildene).</documentation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://register.geonorge.no/sosi-kodelister/fkb/generell/5.0/synbarhet</defaultCodeSpace>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">SYNBARHET</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="datafangstmetodeHøyde" type="gml:CodeType">
        <annotation>
          <documentation>metoden brukt for høyderegistrering av posisjon.

Det er bare nødvending å angi en verdi for egenskapen dersom datafangstmetode for høyde avviker fra datafangstmetode for grunnriss.</documentation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://register.geonorge.no/sosi-kodelister/fkb/generell/5.0/datafangstmetode</defaultCodeSpace>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">DATAFANGSTMETODEHØYDE</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="nøyaktighetHøyde" type="integer">
        <annotation>
          <documentation>standardavviket til posisjoneringa av objektet oppgitt i cm

I de aller fleste sammenhenger benyttes en anslått eller forventet verdi for standardavvik, men dersom man har en beregnet verdi skal denne benyttes. 

For objekter med punktgeometri benyttes verdi for punktstandardavvik. For objekter med kurvegeometri benyttes standardavviket for tverravviket fra kurva. For objekter med overflate- eller volumgeometri er forståelsen at standardavviket beregnes ut fra (3D) avvikene mellom sann posisjon og nærmeste punkt på overflata. 

Merknad:

Verdien er ment å beskrive nøyaktigheten til objektet sammenlignet med sann verdi. Standardavvik er i utgangspunktet et mål på det tilfeldige avviket og det innebærer at vi forutsetter at det systematiske avviket i liten grad påvirker nøyaktigheten til posisjoneringa. For fotogrammetriske data settes som hovedregel verdien lik kravet til standardavvik ved datafangst. Se standarden Geodatakvalitet for nærmere definisjon av standardavvik og hvordan dette defineres, beregnes og kontrolleres.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">H-NØYAKTIGHET</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="PosisjonskvalitetPropertyType">
    <sequence>
      <element ref="app:Posisjonskvalitet"/>
    </sequence>
  </complexType>
  <element name="SamferdselTiltak" substitutionGroup="app:TiltakGenerell" type="app:SamferdselTiltakType">
    <annotation>
      <documentation>Tiltak som gjelder utbygging av infrastruktur for samferdsel. 

Tiltaksansvarlig har ansvar for å oppdatere tiltaksbasen med informasjon om saksbehandling og framdrift samt å oppdatere grunnkartet med nye data når utbyggingen er ferdigstilt.</documentation>
    </annotation>
  </element>
  <complexType name="SamferdselTiltakType">
    <complexContent>
      <extension base="app:TiltakGenerellType">
        <sequence>
          <element name="tiltaksansvarlig" type="gml:CodeType">
            <annotation>
              <documentation>hvilket forvaltningsnivå/etat som er ansvarlig for oppfølging av tiltaket</documentation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://register.geonorge.no/sosi-kodelister/fkb/tiltak/5.0/tiltaksansvarlig</defaultCodeSpace>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">TILTAKSANSVARLIG</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SamferdselTiltakPropertyType">
    <sequence minOccurs="0">
      <element ref="app:SamferdselTiltak"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="TiltakGenerell" substitutionGroup="app:Fellesegenskaper" type="app:TiltakGenerellType">
    <annotation>
      <documentation>abstrakt supertype som inneholder generelle egenskaper som gjelder alle typer tiltak.

Tiltak registreres generelt så tidlig som mulig i tiltaksbasen, gjerne allerede fra mottak av søknad. 

Når tiltaket er ferdig utbygd skal dette medføre oppdatering av grunnkartet (øvrige FKB-datasett). Tiltak som er registrert i grunnkartet merkes med kartregistrering "Innmålt i kartet" (KARTREG 2) i FKB-Tiltak.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="TiltakGenerellType">
    <complexContent>
      <extension base="app:FellesegenskaperType">
        <sequence>
          <element name="omrade" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>Området som tiltaket befinner seg innenfor.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>Representasjonspunkt for tiltaket</documentation>
            </annotation>
          </element>
          <element name="saksreferanse" type="string">
            <annotation>
              <documentation>Saksnummer eller annen type unik referanse til det aktuelle sakssytemet der man kan finne mer informasjon om saken</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">SAKSREFERANSE</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="behandlingsstatus" type="gml:CodeType">
            <annotation>
              <documentation>status for saksbehandlingen</documentation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://register.geonorge.no/sosi-kodelister/fkb/tiltak/5.0/behandlingsstatus</defaultCodeSpace>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">BEHANDLINGSSTATUS</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="kartregistrering" type="gml:CodeType">
            <annotation>
              <documentation>status for kartregistrering av avgjorte tiltak</documentation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://register.geonorge.no/sosi-kodelister/fkb/tiltak/5.0/kartregistrering</defaultCodeSpace>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">KARTREG</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="behandlingsdato" type="date">
            <annotation>
              <documentation>Siste dato for oppdatering av saken i saksystemet</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">BEHANDLINGSDATO</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eksternpeker" type="anyURI">
            <annotation>
              <documentation>Peker til tiltaksobjektet i et annet system. Dette kan f.eks. være prosjekteringssystemer e.l. i forbindelse med større samferdselsutbygginger.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="SOSI_navn">EKSTERNPEKER</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TiltakGenerellPropertyType">
    <sequence minOccurs="0">
      <element ref="app:TiltakGenerell"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
